.flexWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  margin-top: auto;
}

.article {
  max-width: 780px;
  margin: 0 auto;
  padding: 4.5rem 1.5rem;
  animation: fadeInUp 0.5s ease-in-out forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.title {
  font-size: 1.7rem;
  font-weight: 700;
}
.titleDetail {
  margin-top: 3.3rem;
}

.subTitle {
  font-size: 1.3rem;
  font-weight: 600;
  margin-top: 3.3rem;
}

.detail {
  margin-top: 1.5rem;
}

.contactLink {
  text-decoration: underline;
}