.flexWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  margin-top: auto;
}

.article {
  max-width: 780px;
  margin: 0 auto;
  padding: 4.5rem 1.5rem;
}

.title {
  font-size: 1.7rem;
  font-weight: 700;
}
.titleDetail {
  margin-top: 3.3rem;
}

.subTitle {
  font-size: 1.3rem;
  font-weight: 600;
  margin-top: 3.3rem;
}

.detail {
  margin-top: 1.5rem;
}

.contactLink {
  text-decoration: underline;
}