@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-primary: #ffffff;
  --color-primary-text: #000000;
}

/* 別のテーマ */
.light-theme {
  --color-primary: #000000;
  --color-primary-text: #ffffff;
}