.flexWrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  gap: 100px;
  margin: 0 auto;
}

.mainWrapper {
  width: 80%;
  max-width: 80rem;
  height: 2000px;
}

.keyVisualTitle {
  font-size: 5rem;
  line-height: 1;
  padding-top: 325px;
  padding-bottom: 16px;
}
