.swiperWrapper {
  position: relative;
}

.flexWrapper {
  display: flex;
  place-content: center;
  place-items: center;
  flex-direction: row-reverse;
  justify-content: center;
  gap: 100px;
  width: 95%;
  height: 100%;
  align-items: center;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
}

.mainWrapper {
  width: 65%;
  max-width: 80rem;
}

.keyVisualTitle {
  font-size: 5rem;
  line-height: 1;
  padding: 325px 0 60px 52px;
}
