.swiperWrapper {
  position: relative;
}

.flexWrapper {
  display: flex;
  place-content: center;
  place-items: center;
  flex-direction: row-reverse;
  justify-content: center;
  gap: 100px;
  width: 95%;
  height: 100%;
  align-items: center;
  margin: auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.mainWrapper {
  width: 65%;
  max-width: 80rem;
}

.keyVisualTitle {
  font-size: 5rem;
  line-height: 1;
  padding: 325px 0 60px 52px;
}

.aboutThisSite {
  position: absolute;
  top: 110px;
  bottom: 0;
  right: 0;
  left: 0;
}

.aboutThisSiteTitle {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
}

.aboutThisSiteDetail {
  margin: 150px auto 0;
  width: 790px;
  font-size: 24px;
  text-align: center;
  line-height: 2;
}

.aboutMe {
  position: absolute;
  top: 110px;
  bottom: 0;
  right: 0;
  left: 0;
}

.aboutMeTitle {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
}

.aboutMeDetail {
  margin: 150px auto 0;
  width: 790px;
  font-size: 24px;
  text-align: center;
  line-height: 2;
}

.skill {
  position: absolute;
  top: 12px;
  bottom: 0;
  right: 0;
  left: 0;
}

.skillTitle {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
}


