@use "../../style/breakpoints" as *;

.container {
  position: fixed;
  top: -1px;
  backdrop-filter: blur(16px);
  z-index: 10;
  width: 100%;
}

.wrapper {
  display: flex;
  align-items: flex-end;
  max-width: 56rem;
  margin: 0 auto;
  margin-left: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  @include tab {
    padding-left: 20px;
    margin-left: 8%;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  @include sp {
    margin-left: 0;
    padding-left: 15px;
  }
}

.appHeader {
  font-size: 1.875rem;
  line-height: 2.25rem;

  @include sp {
    font-size: 1.5rem;
  }
}

.appTitle {
  color: #f472b6;
  :global(.dark) & {
    color: #22d3ee;
  }
}

.navigationList {
  display: flex;
  gap: 25px;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 800;
  margin-left: 50px;
  @include tab {
    margin-left: 20px;
    gap: 5px;
  }

  @include sp {
    margin-left: 0;
    padding-left: 10px;
  }
}

.navigationLink {
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  transition: background 0.5s ease, color 0.5s ease;
  font-family: dunhill-script, sans-serif;
  font-weight: 600;
  font-style: normal;
  &:hover {
    background: #fff;
    color: #000;
  }

  @include tab {
    font-size: 1.2rem;
  }

  @include sp {
    font-size: 0.9rem;
    padding: 5px;
  }
}

.darkModeToggleButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 7rem;
}

.switchLabel {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 30px;
  border-radius: 50px;
  background-color: #dddddd;
  cursor: pointer;
  transition: background-color 0.4s;

  &:has(:checked) {
    background-color: #a3a9e8;
  }

  &::after {
    position: absolute;
    top: 2px;
    left: 0;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    box-shadow: 0 0 5px rgb(0 0 0 / 20%);
    background-color: #fff;
    content: "";
    transition: left 0.4s;
  }

  &:has(:checked)::after {
    left: 22px;
  }

  & input {
    display: none;
  }
}
