.container {
  position: sticky;
  top: -1px;
  backdrop-filter: blur(16px);
  z-index: 10;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: end;
  max-width: 56rem;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.appHeader {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.appTitle {
  color: #f472b6;
  :global(.dark) & {
    color: #22d3ee;
  }
}

.navigationList {
  display: flex;
  gap: 25px;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 800;
}

.darkModeToggleButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 7rem;
}

.switchLabel {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 30px;
  border-radius: 50px;
  background-color: #dddddd;
  cursor: pointer;
  transition: background-color 0.4s;

  &:has(:checked) {
    background-color: #a3a9e8;
  }

  &::after {
    position: absolute;
    top: 2px;
    left: 0;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    box-shadow: 0 0 5px rgb(0 0 0 / 20%);
    background-color: #fff;
    content: "";
    transition: left 0.4s;
  }

  &:has(:checked)::after {
    left: 22px;
  }

  & input {
    display: none;
  }
}
